<ul class="sidenav" id="slide-out">
    <aside class="left-aside">
        <nav class="main-menu">
            {% if Me.isAcl(constant('PermissionsEnum::LEADS_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-leads" class="collapsed {{ classNameLeads }}">
                    <a href="{{ route('order-board.index', constant('App\\Model\\OrderStatusType::LEAD_TYPE')) }}" class="menu-item menu-item--submenu" data-submenu="leads">
                        <span class="menu-item__title">Leads</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getLeads().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::REQUESTS_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-requests" class="collapsed {{ classNameRequests }} orders">
                    <a href="{{ route('order-board.index', constant('App\\Model\\OrderStatusType::REQUEST_TYPE')) }}" data-submenu="requests">
                        <span class="menu-item__title">Requests</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getRequests().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::ORDER_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-orders" class="collapsed menu-item__container {{ className }} orders">
                    <a href="{{ route('order.index') }}" data-submenu="orders">
                        <i class="menu-item__icon"><svg class="document-icon" width="32" height="32"><g><use href="#document-icon"/></g></svg></i>
                        <span class="menu-item__title">Orders</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getOrders().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::PARTNER_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-partners" class="collapsed">
                    <a href="/partner" class="menu-item menu-item--submenu" data-submenu="partner">
                        <span class="menu-item__title">Partners</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getPartners().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::TASKS_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-tasks" class="collapsed">
                    <a href="{{ route('task.index') }}" class="menu-item menu-item--submenu" data-submenu="tasks">
                        <span class="menu-item__title">Tasks</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getTasks().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::NOTIFICATION_SECTION')) %}
                <div class="menu-item__container">
                    <a href="{{ route('notification.index') }}" class="menu-item" >
                        <span class="menu-item__title">Notifications</span>
                    </a>
                </div>
            {% endif %}

            <div data-toggle="collapse" data-target="#submenu-mob-cashbox" class="collapsed">
                <a href="{{ route('cashier.create') }}" class="menu-item menu-item--submenu" data-submenu="cashbox">
                    <span class="menu-item__title">CashBox</span>
                    <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                </a>
            </div>

            {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getCashBox().getMenu()}) }}

            {% if Me.isAcl(constant('PermissionsEnum::PAYMENTS_SECTION')) %}
                <div data-toggle="collapse"  data-target="#submenu-mob-payments" class="collapsed menu-item__container">
                    <a href="{{ route('payout-bank.index') }}" data-submenu="account">
                        <span class="menu-item__title">Payments</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getPayments().getMenu()}) }}

            {% endif %}

            {% if Me.isAcl(constant('PermissionsEnum::DELIVERY_SECTION')) %}
                <div data-toggle="collapse" data-target="#submenu-mob-logistics" class="collapsed">
                    <a href="{{ route("delivery.internal.index") }}" class="menu-item menu-item--submenu" data-submenu="logistic">
                        <span class="menu-item__title">Logistics</span>
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    </a>
                </div>

                {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getLogistics().getMenu()}) }}

            {% endif %}

            <div data-toggle="collapse" data-target="#submenu-mob-info" class="collapsed">
                <a href="#" class="menu-item menu-item--submenu" data-submenu="wiki">
                    <span class="menu-item__title">Info</span>
                    <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                </a>
            </div>

            {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getBaseInfo().getMenu()}) }}


            {% if Me.isAcl(constant('PermissionsEnum::USER_SETTINGS')) %}
                {% if Me.isMainCompany() %}
                    <div data-toggle="collapse" data-target="#submenu-mob-settings" class="collapsed menu-item__container" data-title="Настройки">
                        <a href="#" class="menu-item menu-item--submenu" data-submenu="config" data-branch = 'config'>
                            <span class="menu-item__title">Settings</span>
                        </a>
                    </div>

                    {{ include ('block/mobile_submenu/items.twig', {'items' : menuItems.getSettings().getMenu()}) }}

                {% endif %}
            {% endif %}
        </nav>
    </aside>
</ul>
