<div class="collapse mobile-submenu" id="{{ items.getId() }}" aria-expanded="false">
    {% for item in items %}
        <ul class="flex-column pl-2 nav">
            <li class="nav-item" id="{{ item.getIconId() }}"> <i class="icon-regular-circle"></i>
                <a data-toggle="{{ item.count() ? 'collapse' }}" data-target="{{ '#' ~ item.getId() }}" class="nav-link py-0 {{ item.getClassName() }}" href="{{ item.getUrl() }}">
                    <span>{{ item.getName() }}</span>
                    {% if item.count() %}
                        <i class="icon icon-arrow icon-arrow__right ml-auto"></i>
                    {% endif %}
                </a>
            </li>
            {% if item.count() %}
                {{ include ('block/mobile_submenu/items.twig', {'items' : item }) }}
            {% endif %}
        </ul>
    {% endfor %}
</div>
